.title {
    font-size: 1.5vw;
    color: white;
}

.ratingIcon {
    display: inline-block;
    margin-left: 1em;
    font-size: .95vw;
}

.divider {
    padding-bottom: 1em;
}

.runtime {
    text-align: right;
}

.iconText {
    display: inline-block;
    margin-left: .5em;
    font-size: .95vw;
}

.lessSignificant {
    font-size: .5vw;
    color: #B3B3B3;
}